<div class = "projects_head"><h2>Education</h2></div>
<div class = "full2">
  <dl>
    <dt>
      <h3>
        University of Iowa, Iowa City, IA
      </h3>
    </dt>
    <h5>
      <dd>B.S. Computer Science</dd>
      <dd>Minor in Math</dd>
      <dd>Graduated December 2020</dd>
    </h5>
  </dl>
</div>