
  <section>
    <h2>Experience</h2>
    <dl>
      <dt>
        <h3>
          University of Iowa, Iowa City, IA
        </h3>
      </dt>
      <h5>
        <dd>B.S. Computer Science</dd>
        <dd>Minor in Math</dd>
        <dd>Graduated December 2020</dd>
      </h5>
    </dl>
  </section>