
  <div class = "full2">
    <h2>Experience</h2>
    <dl>
      <dt>
        <h3>
          PRVN Consultants Inc, North Liberty, IA — Design Engineer Intern
        </h3>
      </dt>
      <h5>
        <dd>May - August 2018</dd>
        <dd>Completed CADD drawings used for the proposal for a $45 Million dollar project.</dd>
        <dd>Contributed in FARO 3D scanning University of Iowa and Illinois Power Plants system including specific scans at the University of Iowa for a surface condenser for a steam turbine requiring extremely precise measurements.
        </dd>
      </h5>
    </dl>
    <dl>
      <dt>
        <h3>
          RevTrak, Bloomington, MN — Production Specialist Intern
        </h3>
      </dt>
      <h5>
        <dd>June - September 2017</dd>
        <dd>Contributed in meeting task deadlines, while inputting customer information into a web page.
        </dd>
        <dd>Gained Teamwork skills, and increased ability to collaborate by participating in 5 dysfunctions of a team program.</dd>
      </h5>
    </dl>
  </div>