<div class = "projects_head"><h2>Projects</h2></div>
<div class = "projects">
<table id="github">
  <thead>
  <tr>
    <th>Project Title</th>
    <th>Description</th>
    <th>Screenshots</th>
  </tr>
  </thead>
  <tbody>
  <% @descriptions.where.not(project_title: "Skills").each do |projects| %>
    <tr>
      <td>
        <%= projects.project_title %>
      </td>
      <td>
        <%= projects.description %>
      </td>
      <td>
        <%=link_to "Screenshots", descriptions_images_path(projects.id) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>