<section>
  <h2>Projects</h2>
  <dl>
    <dt>
      <h3>
        Deck of Cards
      </h3>
    </dt>
    <h5>
      <dd>Working in a simulated agile scrum environment with a team of 5. We went through 3 iterations and used programming tools such as RSPEC, HTML.erb, CSS, Ruby, Rails, Github issues, Pivotal Tracker, 4 weekly scrum meetings, SimpleCov, Sqlite as production and Postgres as development, Heroku Deployment, TDD, BDD, and RESTful services.</dd>
      <dd>https://github.com/Evan-Price-projects/CardGame</dd>
      </h5>
  </dl>
</section>
<div class = "img">
  <%= image_tag("final.jpg", :alt => "Evan Price IMG", :height => 325, :width => 240)%>
</div>