<div class = "projects_head"><h2>Projects</h2></div>
<div class = "projects">
<table class="table table-striped col-md-12" id="github">
  <thead>
  <tr>
    <th>Project Title</th>
    <th>Description</th>
    <th>Screenshots</th>
  </tr>
  </thead>
  <tbody>
  <% @descriptions.each do |git| %>
    <tr>
      <td>
        <%= git.project_title %>
      </td>
      <td>
        <%= git.description %>
      </td>
      <td>
        <%=link_to "GitHub Screenshots", descriptions_images_path(git.id) %>
      </td>
      <td>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>