<div class = "title_spot">
  <h2>Welcome to My Website</h2>
</div>
<section>
  <dl>
    <dt>
  <h3>
      Useful Resources
  </h3>
    </dt>
  <h5>
    <dd><a href="https://github.com/Evan-Price-projects/website" target="_blank">Link to this Repository</a></dd>
    <dd><a href="https://github.com/Evan-Price-projects/" target="_blank">GitHub Homepage</a></dd>
    <dd><a href="https://www.linkedin.com/in/evan-price-57784385/" target="_blank">LinkedIn Homepage</a></dd>
  </h5>
  </dl>
</section>
<div class = "img">
  <%= image_tag("final.jpg", :alt => "Evan Price IMG",style: 'height:75%;width:auto;') %>
</div>