<div class = "projects_head"><h2>Projects</h2></div>
<div class = "projects">
  <table id="github">
    <thead>
    <tr>
      <th>Skill/Class</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <% @descriptions.where(project_title: "Skills").each do |skill| %>
      <tr>
        <td>
          <%= skill.description %>
        </td>
        <td>
          <%= skill.images %>
        </td>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>